* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: #242629; }
  @media only screen and (max-width: 68.75em) {
    body {
      font-size: 50%; } }

h1, h2 {
  font-weight: 300;
  color: #FFFFFF;
  margin-bottom: .8rem; }

h1 {
  font-size: 3.2rem; }

h2 {
  font-size: 2.4rem; }

p {
  font-size: 1.6rem;
  color: #94A1B2; }

.section-action-and-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: stretch;
  align-items: stretch; }
  @media only screen and (max-width: 76.8em) {
    .section-action-and-info {
      grid-template-columns: 1fr; } }

.section-action {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 14rem; }
  @media only screen and (max-width: 102.4em) {
    .section-action {
      padding: 10rem; } }
  @media only screen and (max-width: 42.5em) {
    .section-action {
      padding: 4rem; } }
  @media only screen and (max-width: 76.8em) {
    .section-action {
      align-items: center;
      text-align: center; } }
  .section-action p {
    margin-bottom: 2.4rem; }
  .section-action button, .section-action input {
    font-family: 'Nunito', sans-serif; }
  .section-action ::placeholder {
    color: #94A1B2; }
  .section-action input {
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
    background: #16161A;
    outline: none;
    border: none;
    width: 40rem;
    border-radius: 6px;
    padding: 1.6rem 2rem;
    margin-right: 2.4rem; }
    @media only screen and (max-width: 102.4em) {
      .section-action input {
        width: 30rem; } }
    @media only screen and (max-width: 42.5em) {
      .section-action input {
        width: 100%; } }
  .section-action button {
    font-size: 1.6rem;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(to right, #4766F6, #3E52F1);
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 1.6rem 2rem; }
    @media only screen and (max-width: 42.5em) {
      .section-action button {
        margin-top: 1.2rem; } }
  .section-action button:hover {
    box-shadow: 0 0 1.2rem 0.4rem rgba(71, 102, 246, 0.4); }
  .section-action button:active {
    transform: translateY(-2px); }
  .section-action .button-disabled {
    background: rgba(148, 161, 178, 0.2);
    color: #94A1B2; }
  .section-action .button-disabled:hover {
    box-shadow: none; }
  .section-action .ads-status-message {
    display: none;
    color: #2cb67d;
    margin-top: 1.2rem;
    margin-bottom: -1.2rem; }
  .section-action .progress {
    display: none; }
    .section-action .progress .progress-bar {
      margin-top: 2.4rem;
      height: 2rem;
      width: 40rem;
      background-color: #16161A;
      border-radius: 10rem; }
      @media only screen and (max-width: 76.8em) {
        .section-action .progress .progress-bar {
          width: 100%; } }
    .section-action .progress .progress-bar-status {
      height: 2rem;
      width: 30rem;
      background-color: #4766F6;
      border-radius: 10rem; }
    .section-action .progress .progress-bar-points {
      margin-top: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 2px; }

.section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4766F6, #3E52F1); }
  @media only screen and (max-width: 76.8em) {
    .section-info {
      padding: 4rem 0; } }
  @media only screen and (max-width: 42.5em) {
    .section-info {
      padding: 2rem 0; } }
  .section-info p {
    color: #FFFFFF; }
  .section-info .how-it-works-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF; }
    @media only screen and (max-width: 76.8em) {
      .section-info .how-it-works-title {
        margin-bottom: 1.6rem; } }
    @media only screen and (max-width: 42.5em) {
      .section-info .how-it-works-title {
        margin-bottom: 0; } }
  @media only screen and (max-width: 76.8em) {
    .section-info .how-it-works-steps {
      display: flex;
      flex-direction: row; } }
  @media only screen and (max-width: 42.5em) {
    .section-info .how-it-works-steps {
      display: inline; } }
  .section-info .how-it-works-step {
    display: flex;
    align-items: center; }
    .section-info .how-it-works-step :not(:last-child) {
      margin-top: 1.6rem; }
    @media only screen and (max-width: 76.8em) {
      .section-info .how-it-works-step :not(:last-child) {
        margin-top: 0rem;
        margin-left: 2rem; } }
    @media only screen and (max-width: 42.5em) {
      .section-info .how-it-works-step :not(:last-child) {
        margin-top: 1.6rem;
        margin-left: 0; } }
    .section-info .how-it-works-step .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, 0.16); }
      .section-info .how-it-works-step .icon img {
        height: 2rem;
        width: auto; }
    .section-info .how-it-works-step p {
      margin-left: 1.6rem; }
      @media only screen and (max-width: 76.8em) {
        .section-info .how-it-works-step p {
          margin-left: 1.2rem; } }

.section-services {
  background-color: #16161A;
  padding: 4rem 10rem; }
  @media only screen and (max-width: 76.8em) {
    .section-services {
      text-align: center; } }
  @media only screen and (max-width: 42.5em) {
    .section-services {
      padding: 2rem 4rem; } }
  .section-services .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
    margin-top: 2.4rem; }
    @media only screen and (max-width: 76.8em) {
      .section-services .services {
        grid-template-columns: 1fr 1fr; } }
    .section-services .services .service {
      max-width: 100%;
      border-radius: 6px; }
