<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="./css/style10.css" rel="stylesheet">
    <title>LinkerPremium</title>
    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="VwgznnO4QDxXDsWPtbrC5UlNAlTUv_hFUSRJfWx1ULI" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161769537-1"></script>
    <meta name="description" content="Download files from large number of file hosters with premium speed.">
    <meta name="keywords" content="linkerpremium, rapidgator, download,premium downloader">
</head>
<body>
    <div class="section-action-and-info">
        <!-- Action Section -->
        <div class="section-action">
            <!-- Always Visible -->
            <h1>Premium downloader</h1>
            <p>Insert any link from filehoster you want to download. </p>
            <div class="form-group">
                <input id="link_sender" type="text" placeholder="Paste your link here">
                <button id="link_btn_id_btn" class="button-disabled" >Check Link</button>
                <button id="watch_ads_btn" class="button-enabled" style="display: none;">Watch Ads</button>
                <button id="download_btn_btn" class="button-enabled" style="display: none;">Download</button>
            </div>
            <p class="ads-status-message">There are no more ads for you today.</p>
            <!-- Progress Bar-->
            <div class="progress">
                <div class="progress-bar">
                    <div class="progress-bar-status"></div>
                </div>
                <p id="file_name_id"></p>
                <p id="progress_bar_id" class="progress-bar-points">80/100 Points</p>
                
            </div>
        </div>
        <!-- Info Section -->
        <div class="section-info">
            <!-- Title -->
            <p class="how-it-works-title">How it works</p>
            <!-- Steps -->
            <div class="how-it-works-steps">
                <div class="how-it-works-step">
                    <div class="icon">
                        <img src="img/copy.svg">
                    </div>
                    <p>Paste your link</p>
                </div>
                <div class="how-it-works-step">
                    <div class="icon">
                        <img src="img/play.svg">
                    </div>
                    <p>Watch ads</p>
                </div>
                <div class="how-it-works-step">
                    <div class="icon">
                        <img src="img/smile.svg">
                    </div>
                    <p>Enjoy your content</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section -->
    <div class="section-services">
        <h2>Services we support</h2>
        <p>Number of ads depends on size of your file you want to download. Progress bar is filling as you watch ads and when it gets 100% you get premium speed download for free :)</p>
        <!-- Services -->
        <div class="services">
            <img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_q66q26ki/def_height/1037/def_width/1980/version/100031/type/2/q/100" alt="" class="service">
            <img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_q66q26ki/def_height/1037/def_width/1980/version/100031/type/2/q/100" alt="" class="service">
            <img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_q66q26ki/def_height/1037/def_width/1980/version/100031/type/2/q/100" alt="" class="service">
            <img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_q66q26ki/def_height/1037/def_width/1980/version/100031/type/2/q/100" alt="" class="service">
            <img src="https://prnewswire2-a.akamaihd.net/p/1893751/sp/189375100/thumbnail/entry_id/1_q66q26ki/def_height/1037/def_width/1980/version/100031/type/2/q/100" alt="" class="service">
        </div>
    </div>
    <script>
		var dataToUser = <%- JSON.stringify(dataToUser) %>;
    </script>
    <script>
		
		// $.ajax({
		// 		url: 'http://92.244.147.140:6564/',
		// 		dataType: "jsonp",
		// 		success: function (data) {
		// 		console.log(data)
		// 		alert(data);
		// 		}
		// 	});
            $(document).ready(function () {
                if (dataToUser != '') {
                    updateStatus();
                }
                
                $('#link_sender').on('input',function (){
                    if($(this).val() != ''){
                    $('#link_btn_id_btn').removeClass('button-disabled');
                    $('#link_btn_id_btn').addClass('button-enabled');
                    } else {
                    $('#link_btn_id_btn').removeClass('button-enabled');
                    $('#link_btn_id_btn').addClass('button-disabled');
                    }
                })
				
				$(document).on('keypress', '#link_sender', function (e) {
                    var code = e.keyCode || e.which;
					if (code == 13) {
						var link = $('#link_sender').val();
						$('#link_sender').val('');
						$('#download_btn_btn').css('display', 'none');
						$.post('/link_check', { link: link }, function (response) {
							if (response) {
								$('#watch_ads_btn').attr('data-link', response.link);
								if (response.canDonload) {
									dataToUser = response;
									updateStatus()
								} else if (response == 'VPN') {
									alert('Disable VPN')
								} else {
									$('#watch_ads_btn').css('display', '');
									var progres = parseFloat(response.clickNum) * 100;
									$('.progress-bar-status').css('width', progres + '%');
									$('#progress_bar_id').html(parseInt(progres) + '%');
									$('#file_name_id').html('Progress Bar:  ' + response.fileName);
									$('.progress').css('display', 'block');
									$('#link_btn_id_btn').css('display', 'none');
								}

							}
						});
					}
				});
					
				$(document).on('click', '#link_btn_id_btn', function () {
					var link = $('#link_sender').val();
					$('#link_sender').val('');
                    $('#download_btn_btn').css('display', 'none');
                    $('#link_btn_id_btn').removeClass('button-enabled');
                    $('#link_btn_id_btn').addClass('button-disabled');
					$.post('/link_check', { link: link }, function (response) {
						if (response) {
							$('#watch_ads_btn').attr('data-link', response.link);
							if (response.canDonload) {
								dataToUser = response;
								updateStatus()
							} else if (response == 'VPN') {
                                alert('Disable VPN');
                            } else if (response =='nema'){
                                alert('The file you wish to donload is to large')
                            
							} else {
								$('#watch_ads_btn').css('display', '');
								var progres = parseFloat(response.clickNum) * 100;
								$('.progress-bar-status').css('width', progres + '%');
								$('#progress_bar_id').html(parseInt(progres) + '%');
                                $('#file_name_id').html('Progress Bar:  ' + response.fileName);
                                $('.progress').css('display', 'block');
								//$('#show_progres_id').css('display', 'block');
								$('#link_btn_id_btn').css('display', 'none');
							}

						}
					});
				});

                $(document).on('input', '#link_sender', function () {
                    if ($('#link_sender').val().length > 0 && ($('#watch_ads_btn').is(':visible') == true || $('#download_btn_btn').is(':visible') == true)) {
                        $('#link_btn_id_btn').css("background-color", "#97b5f7");
                        $('#link_btn_id_btn').css('display', '');
                    } else if ($('#watch_ads_btn').is(':visible') == true || $('#download_btn_btn').is(':visible') == true) {
                        $('#link_btn_id_btn').css('display', 'none');
                    }
                });

                $(document).on('click', '#watch_ads_btn', function () {
                    var link = $('#watch_ads_btn').attr('data-link');
                    $('#watch_ads_btn').attr('data-link', '');
                    window.location.href = link;
                });

                $(document).on('click', '#download_btn_btn', function () {
                    $.post('/download', function (response) {
                        if (response) {
                            $('#download_btn_btn').css('display', 'none');
                            $('.progress').css('display', 'none');
                           // $('#link_btn_id_btn').css("background-color", "#3578fa");
                            $('#link_btn_id_btn').css('display', '');
                            window.location.href = response;
                        }

                    });
                });
			});


        function updateStatus() {
            var progres = parseFloat(dataToUser.clickNum) * 100;

            if (dataToUser.canDonload) {
                $('#watch_ads_btn').css('display', 'none');
                $('#download_btn_btn').css('display', '');
                progres = 100;
            } else {
                $('#watch_ads_btn').css('display', '');
                $('#watch_ads_btn').attr('data-link', dataToUser.link);
            }
            $('#link_btn_id_btn').css('display', 'none');
            $('.progress-bar-status').css('width', progres + '%');
            $('#progress_bar_id').html(parseInt(progres) + '%');
            $('#file_name_id').html('Progress Bar:  ' + dataToUser.fileName);
            $('.progress').css('display', 'block');
        }

    </script>
</body>
</html>