<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Premium link Downloader!">
	<meta name="description" content="linkerpremium">
	<meta name="google-site-verification" content="VwgznnO4QDxXDsWPtbrC5UlNAlTUv_hFUSRJfWx1ULI" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161769537-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-161769537-1');
</script>

    <title>Premium link Downloader!</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/ico.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="css/style2.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>

</head>

<body>

	<style>
		img {height: 100%; width: 100%; object-fit: contain}
	</style>
		
	<div id="page">
		
	<header class="header menu_fixed">
		<!-- <div id="logo">
			<a >
				<img src="img/logo.png" width="140" height="35" alt="" class="logo_normal">
			</a>
		</div> -->
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<!-- /btn_mobile -->
	</header>
	<!-- /header -->
	
	<main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Download premium files for free!</h3>
					<p>Insert link from file you wish to download</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
							<div class="row no-gutters custom-search-input-2">
								<div class="col-lg-7" style="flex: 1 0 58.333333%; max-width: 100%;">
									<div class="form-group">
										<input id="link_sender" class="form-control" type="text" placeholder="What are you looking for...">
										<i class="icon_search"></i>
									</div>
								</div>
								<div class="col-lg-2" id="link_btn_id">
									<input id="link_btn_id_btn" type="submit" value="Check Link">
                                </div>
                                <div class="col-lg-2" style="display: none;" id="watch_ads">
									<input id="watch_ads_btn" type="submit" value="Watch Ads">
                                </div>
                                <div class="col-lg-2" style="display: none;" id="download_btn">
									<input id="download_btn_btn" type="submit" value="Donwload">
                                </div>
                                
							</div>
							<!-- /row -->
                       
                        <br>
                        <br>
                        <div id="show_progres_id" style="display: none;">
                            <p id="file_name_id"></p>
                            <div class="progress">
                                <div id="progress_bar_id" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
                              </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->
		
		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Suported file hosters.</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/rapidgator.svg" alt=" rapidgator" >
							<div class="info">
								<h3>Rapidgator</h3>
							</div>
						</figure>
					</a>
                </div>
                <div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/mega.svg" alt="mega">
							<div class="info">
								<h3>Mega</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/turbobit-min.png" alt="">
							<div class="info">
								<h3>Turbobit</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/filefactory.jpg" alt="">
							<div class="info">
								<h3>Filefactory</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/gigapeta-min.png" alt="">
							<div class="info">
								<h3>Gigapeta</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/4shared-min.png" alt="">
							<div class="info">
								<h3>4shared</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/zippyshare.jpg" alt="">
							<div class="info">
								<h3>Zippyshare</h3>
							</div>
						</figure>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/1fichier-min.png" alt="">
							<div class="info">
								<h3>1fichier</h3>
							</div>
						</figure>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a href="javascript:void(0)" class="grid_item">
						<figure>
							<img src="img/mediafire-min.png" alt="">
							<div class="info">
								<h3>Mediafire</h3>
							</div>
						</figure>
					</a>
				</div>
				<div class="main_title_3">
					<h2>And many more...</h2>
				</div>
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->


	<!-- <div id="toTop"></div>Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script>
		var dataToUser = <%- JSON.stringify(dataToUser) %>;
    </script>
    <script>
		
		// $.ajax({
		// 		url: 'http://92.244.147.140:6564/',
		// 		dataType: "jsonp",
		// 		success: function (data) {
		// 		console.log(data)
		// 		alert(data);
		// 		}
		// 	});
            $(document).ready(function () {
                if (dataToUser != '') {
                    updateStatus();
				}
				
				$(document).on('keypress', '#link_sender', function (e) {
					var code = e.keyCode || e.which;
					if (code == 13) {
						var link = $('#link_sender').val();
						$('#link_sender').val('');
						$('#download_btn').css('display', 'none');
						$.post('/link_check', { link: link }, function (response) {
							if (response) {
								$('#watch_ads_btn').attr('data-link', response.link);
								if (response.canDonload) {
									dataToUser = response;
									updateStatus()
								} else if (response == 'VPN') {
									alert('Disable VPN')
								} else {
									$('#watch_ads').css('display', 'flex');
									var progres = parseFloat(response.clickNum) * 100;
									$('#progress_bar_id').css('width', progres + '%');
									$('#progress_bar_id').html(parseInt(progres) + '%');
									$('#file_name_id').html('Progress Bar:  ' + response.fileName);
									$('#show_progres_id').css('display', 'block');
									$('#link_btn_id').css('display', 'none');
								}

							}
						});
					}
				});
					
				$(document).on('click', '#link_btn_id_btn', function () {
					var link = $('#link_sender').val();
					$('#link_sender').val('');
					$('#download_btn').css('display', 'none');
					$.post('/link_check', { link: link }, function (response) {
						if (response) {
							$('#watch_ads_btn').attr('data-link', response.link);
							if (response.canDonload) {
								dataToUser = response;
								updateStatus()
							} else if (response == 'VPN') {
								alert('Disable VPN')
							} else {
								$('#watch_ads').css('display', 'flex');
								var progres = parseFloat(response.clickNum) * 100;
								$('#progress_bar_id').css('width', progres + '%');
								$('#progress_bar_id').html(parseInt(progres) + '%');
								$('#file_name_id').html('Progress Bar:  ' + response.fileName);
								$('#show_progres_id').css('display', 'block');
								$('#link_btn_id').css('display', 'none');
							}

						}
					});
				});

                $(document).on('input', '#link_sender', function () {
                    if ($('#link_sender').val().length > 0 && ($('#watch_ads').is(':visible') == true || $('#download_btn').is(':visible') == true)) {
                        $('#link_btn_id_btn').css("background-color", "#97b5f7");
                        $('#link_btn_id').css('display', 'flex');
                    } else if ($('#watch_ads').is(':visible') == true || $('#download_btn').is(':visible') == true) {
                        $('#link_btn_id').css('display', 'none');
                    }
                });

                $(document).on('click', '#watch_ads_btn', function () {
                    var link = $('#watch_ads_btn').attr('data-link');
                    $('#watch_ads_btn').attr('data-link', '');
                    window.location.href = link;
                });

                $(document).on('click', '#download_btn_btn', function () {
                    $.post('/download', function (response) {
                        if (response) {
                            $('#download_btn').css('display', 'none');
                            $('#show_progres_id').css('display', 'none');
                            $('#link_btn_id_btn').css("background-color", "#3578fa");
                            $('#link_btn_id').css('display', 'flex');
                            window.location.href = response;
                        }

                    });
                });
			});


        function updateStatus() {
            var progres = parseFloat(dataToUser.clickNum) * 100;

            if (dataToUser.canDonload) {
                $('#watch_ads').css('display', 'none');
                $('#download_btn').css('display', 'flex');
                progres = 100;
            } else {
                $('#watch_ads').css('display', 'flex');
                $('#watch_ads_btn').attr('data-link', dataToUser.link);
            }
            $('#link_btn_id').css('display', 'none');
            $('#progress_bar_id').css('width', progres + '%');
            $('#progress_bar_id').html(parseInt(progres) + '%');
            $('#file_name_id').html('Progress Bar:  ' + dataToUser.fileName);
            $('#show_progres_id').css('display', 'block');
        }

    </script>

</body>
</html>