<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VANNO - Premium directory consumer reviews and listings template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>VANNO | Premium directory consumer reviews and listings template by Ansonika. - SHARED ON THEMELOCK.COM</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- BASE CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="css/style2.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>

</head>

<body>
		
	<div id="page">
		
	<header class="header menu_fixed">
		<div id="logo">
			<a href="index.html">
				<img src="img/logo.svg" width="140" height="35" alt="" class="logo_normal">
				<img src="img/logo_sticky.svg" width="140" height="35" alt="" class="logo_sticky">
			</a>
		</div>
		<!-- /top_menu -->
		<a href="#menu" class="btn_mobile">
			<div class="hamburger hamburger--spin" id="hamburger">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
		</a>
		<!-- /btn_mobile -->
	</header>
	<!-- /header -->
	
	<main>
		<section class="hero_single version_1">
			<div class="wrapper">
				<div class="container">
					<h3>Every Review is an Experience!</h3>
					<p>Check Ratings of Businesses, Read Reviews &amp; Buy</p>
					<div class="row justify-content-center">
						<div class="col-lg-9">
							<div class="row no-gutters custom-search-input-2">
								<div class="col-lg-7">
									<div class="form-group">
										<input id="link_sender" class="form-control" type="text" placeholder="What are you looking for...">
										<i class="icon_search"></i>
									</div>
								</div>
								<div class="col-lg-2" id="link_btn_id">
									<input id="link_btn_id_btn" type="submit" value="Check Link">
                                </div>
                                <div class="col-lg-2" style="display: none;" id="watch_ads">
									<input id="watch_ads_btn" type="submit" value="Watch Ads">
                                </div>
                                <div class="col-lg-2" style="display: none;" id="download_btn">
									<input id="download_btn_btn" type="submit" value="Donwload">
                                </div>
                                
							</div>
							<!-- /row -->
                       
                        <br>
                        <br>
                        <div id="show_progres_id" style="display: none;">
                            <p id="file_name_id">Check Ratings of Businesses, Read Reviews &amp; Buy</p>
                            <div class="progress">
                                <div id="progress_bar_id" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
                              </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<!-- /hero_single -->
		
		<div class="container margin_60_35">
			<div class="main_title_3">
					<h2>Top Categories</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
					<a href="all-categories.html">View all</a>
				</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_1.jpg" alt="">
							<div class="info">
								<small>122 Results</small>
								<em><i class="icon-comment"></i> 356 Reviews</em>
								<h3>Clothing</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_2.jpg" alt="">
							<div class="info">
								<small>245 Results</small>
								<em><i class="icon-comment"></i> 123 Reviews</em>
								<h3>Hotels</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_3.jpg" alt="">
							<div class="info">
								<small>95 Results</small>
								<em><i class="icon-comment"></i> 245 Reviews</em>
								<h3>Restaurants</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_4.jpg" alt="">
							<div class="info">
								<small>123 Results</small>
								<em><i class="icon-comment"></i> 187 Reviews</em>
								<h3>Bars</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_5.jpg" alt="">
							<div class="info">
								<small>92 Results</small>
								<em><i class="icon-comment"></i> 221 Reviews</em>
								<h3>Electronics</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
				<div class="col-lg-4 col-sm-6">
					<a href="grid-listings-filterstop.html" class="grid_item">
						<figure>
							<img src="img/box_cat_home_6.jpg" alt="">
							<div class="info">
								<small>92 Results</small>
								<em><i class="icon-comment"></i> 323 Reviews</em>
								<h3>Beauty</h3>
							</div>
						</figure>
					</a>
				</div>
				<!-- /grid_item -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->


	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->

    <script>
        var dataToUser = <%- JSON.stringify(dataToUser) %>
    </script>
    <script>
            $(document).ready(function () {


                $('.col-lg-2').css('flex','auto');
                $('.col-lg-7').css('flex','auto');
                $('.col-lg-2').css('max-width','22.666667%');
                $('.col-lg-7').css('max-width','77.3%');
                
                if (dataToUser != '') {
                    updateStatus();
                }

                $(document).on('click', '#link_btn_id_btn', function () {
                    var link = $('#link_sender').val();
                    $('#link_sender').val('');
                    $('#download_btn').css('display', 'none');
                    $.post('/link_check', { link: link }, function (response) {
                        if (response) {
                            $('#watch_ads_btn').attr('data-link', response.link);
                            if (response.canDonload) {
                                dataToUser = response;
                                updateStatus()
                            } else {
                                $('#watch_ads').css('display', 'flex');
                                var progres = parseFloat(response.clickNum) * 100;
                                $('#progress_bar_id').css('width', progres + '%');
                                $('#progress_bar_id').html(parseInt(progres) + '%');
                                $('#file_name_id').html('Progress Bar:  ' + response.fileName);
                                $('#show_progres_id').css('display', 'block');
                                $('#link_btn_id').css('display', 'none');
                            }

                        }
                    });
                });

                $(document).on('input', '#link_sender', function () {
                    if ($('#link_sender').val().length > 0 && ($('#watch_ads').is(':visible') == true || $('#download_btn').is(':visible') == true)) {
                        $('#link_btn_id_btn').css("background-color", "#97b5f7");
                        $('#link_btn_id').css('display', 'flex');
                    } else if ($('#watch_ads').is(':visible') == true || $('#download_btn').is(':visible') == true) {
                        $('#link_btn_id').css('display', 'none');
                    }
                });

                $(document).on('click', '#watch_ads_btn', function () {
                    var link = $('#watch_ads_btn').attr('data-link');
                    $('#watch_ads_btn').attr('data-link', '');
                    window.location.href = link;
                });

                $(document).on('click', '#download_btn_btn', function () {
                    $.post('/download', function (response) {
                        if (response) {
                            $('#download_btn').css('display', 'none');
                            $('#show_progres_id').css('display', 'none');
                            $('#link_btn_id_btn').css("background-color", "#3578fa");
                            $('#link_btn_id').css('display', 'flex');
                            window.location.href = response;
                        }

                    });
                });
            });
        function updateStatus() {
            var progres = parseFloat(dataToUser.clickNum) * 100;

            if (dataToUser.canDonload) {
                $('#watch_ads').css('display', 'none');
                $('#download_btn').css('display', 'flex');
                progres = 100;
            } else {
                $('#watch_ads').css('display', 'flex');
                $('#watch_ads_btn').attr('data-link', dataToUser.link);
            }
            $('#link_btn_id').css('display', 'none');
            $('#progress_bar_id').css('width', progres + '%');
            $('#progress_bar_id').html(parseInt(progres) + '%');
            $('#file_name_id').html('Progress Bar:  ' + dataToUser.fileName);
            $('#show_progres_id').css('display', 'block');
        }

    </script>

</body>
</html>